@using LearnEXM.Foundation.Extensions.Extensions.AssetsHelper
@using System.Linq
@using System.Collections.Generic
@using LearnEXM.Feature.SitecoreCinema
@model LearnEXM.Feature.SitecoreCinema.Models.ViewModels.ConcessionCategoryViewModel

@if (Model != null)
{
  <li>

    <h3>@Model.CategoryName</h3>

    @if (Model.SubCategoryItems != null && Model.SubCategoryItems.Any())
    {
      <ul>

        @foreach (var subCategory in Model.SubCategoryItems)
        {
        <li>
          @subCategory.NameFieldProxy.Value
          @Html.Partial(ProjectConst.Views.Concessions.ConcessionItems, subCategory.ChildConcessionItems)
          
      </li>
      }
    </ul>
  }
    @if (Model.ConcessionItems != null && Model.ConcessionItems.Any())
    {

      @Html.Partial(ProjectConst.Views.Concessions.ConcessionItems,Model.ConcessionItems)

      @*foreach (var concessionItem in Model.ConcessionItems)
      {
        <h4>@concessionItem.ProductName.Value</h4>
        <img src="@concessionItem.ProductLogo.ImageURL" width="30"></img>
        if (concessionItem.ConcessionPrices != null && concessionItem.ConcessionPrices.Any())
        {
          @Html.Partial(ProjectConst.Views.Concessions.Prices, concessionItem.ConcessionPrices);
        }
      }*@
    }
  </li>
}