@using LearnEXM.Foundation.Extensions.Extensions.AssetsHelper
@using System.Linq
@using System.Collections.Generic
@using LearnEXM.Feature.SitecoreCinema
@model LearnEXM.Feature.SitecoreCinema.Models.ViewModels.ConcessionCategoryViewModel

@if (Model != null)
{
  <h3>@Model.CategoryName</h3>

  if (Model.SubCategoryItems != null && Model.SubCategoryItems.Any())
  {

    foreach (var subCategory in Model.SubCategoryItems)
    {
      <h4>@subCategory.NameFieldProxy.Value</h4>
      @Html.Partial(ProjectConst.Views.Concessions.Prices, subCategory.ConcessionPrices);
    }

  }
  if (Model.ConcessionItems != null && Model.ConcessionItems.Any())
  {

    foreach (var concessionItem in Model.ConcessionItems)
    {
      <h4>@concessionItem.ProductName.Value</h4>
      <img src="@concessionItem.ProductLogo.ImageURL" width="30"></img>
      if (concessionItem.ConcessionPrices != null && concessionItem.ConcessionPrices.Any())
      {
        @Html.Partial(ProjectConst.Views.Concessions.Prices, concessionItem.ConcessionPrices);
      }
    }
  }

}