@using LearnEXMProject.Models.Email;
@using Sitecore.Mvc.Presentation;
@using LearnEXM.Project.Website.Models;
@using Sitecore.Mvc;

@{
  Layout = EmailConst.EXM.Views.EmailBaseLayout;
}
@model RenderingModel
@{
  var repository = new EmailOptionsRepository();
  var options = repository.Get(Model.Item);
}
@section head{
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@Html.Sitecore().Field(EmailConst.EXM.Fields.PageTitle, new { DisableWebEdit = true })</title>
  @Html.Sitecore().Placeholder(EmailConst.EXM.PlaceHolders.NewsLetterHead)
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    body {
      width: 100% !important;
      -webkit-text-size-adjust: 100%;
      margin: 0;
      padding: 0;
    }

    #backgroundTable {
      margin: 0;
      padding: 0;
      width: 100% !important;
      line-height: 100% !important;
    }

    table td {
      border-collapse: collapse;
    }
  </style>

  <table id="backgroundTable" @Html.Raw(EmailConst.EXM.HTML.MinTableAttributes)>
    <tr>

      <td>
        <table width="832" align="center" @Html.Raw(EmailConst.EXM.HTML.MinTableAttributes)>
          <tr>
            <td colspan="3" align="center">
              <br />
              <br />
            </td>
          </tr>
          <tr>
            <td colspan="3" align="center">
              @Html.Sitecore().Placeholder(EmailConst.EXM.PlaceHolders.TopImage)
            </td>
          </tr>
          <tr>
            <td colspan="3" bgcolor="@Html.Raw(EmailConst.EXM.Colors.ColorF7F2E7)" align="center">
              @Html.Sitecore().Placeholder(EmailConst.EXM.PlaceHolders.EmailLogo)
              <br />
              <br />
            </td>
          </tr>
          <tr>
            <td width="8%" valign="top" bgcolor="@Html.Raw(EmailConst.EXM.Colors.ColorF7F2E7)"></td>
            <td width="84%" valign="top" bgcolor="@Html.Raw(EmailConst.EXM.Colors.ColorF7F2E7)" style="line-height: 1.4; font-size: 16px;">
              @Html.Sitecore().Placeholder(EmailConst.EXM.PlaceHolders.PrimaryContent)
            </td>
            <td width="8%" valign="top" bgcolor="@Html.Raw(EmailConst.EXM.Colors.ColorF7F2E7)"></td>
          </tr>
          <tr>
            <td colspan="3" align="center">
              @Html.Sitecore().Placeholder(EmailConst.EXM.PlaceHolders.BottomImage)
            </td>
          </tr>
          <tr>
            <td colspan="3" align="center">
              <br />
              <br />
              @Html.Sitecore().Placeholder(EmailConst.EXM.PlaceHolders.FooterLogo)
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
}