@using LearnEXM.Project.SitecoreCinema.Model;
@model LearnEXM.Project.SitecoreCinema.Model.SelfServiceMachineViewModel

<h2>Self Service Machine</h2>
<br />

@if (Model != null)
{

  if (Model.ShowTimes != null && Model.ShowTimes.Any())
  {
    <ul>

      @foreach (var showTime in Model.ShowTimes)
      {
        <li>
          @if (!string.IsNullOrEmpty(showTime.MoviePoster))
          {
            <img src="@showTime.MoviePoster" alt="@showTime.MovieName" width="160" />
            <br />
          }
          @showTime.MovieName - @showTime.MovieTime
          @{
            var ticketLink = @Model.TicketLink() + "?movieid=" + @showTime.Id;
          }
          <a href="@ticketLink">Buy Ticket</a>
        </li>
            }
    </ul>
  }

}

<a href="@Model.TicketLink() ">Buy Ticket</a>