@using Feature.GatedContent.Extensions
@using Feature.GatedContent.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using System.Linq
@model Feature.GatedContent.Models.GatedFormViewModel

<div class="@FormsConstants.EE.HelpWrapperClass">
  @if (Model != null)
  {
    using (Html.EEAccordianPanel("Form Markup - Is Valid? " + Html.StyledBool(Model.FormProxy.IsValidForRendering), Model.FormProxy.IsValidForRendering))
    {
      <div>Data Source ( @Model.DataSourceItemProxy.ID.ToString()) is valid: @Html.StyledBool(Model.DataSourceItemProxy.IsValidForRendering)</div>

      <ul style="@FormsConstants.EE.UlStylingClass">
        <li> Markup field populated:   @Html.StyledBool(Model.DataSourceItemProxy.HasCaptchaFailUrl)</li>
        <li> Form node found:   @Html.StyledBool(Model.FormProxy.HasFormNode)</li>
        <li> Action attribute found:   @Html.StyledBool(Model.FormProxy.HasOriginalAction)</li>
      </ul>
    }
  }
  else
  {
    <p>Null Model</p>
  }
</div>