@using Sitecore.Foundation.SitecoreExtensions.Extensions;
@using LearnEXM.Feature.Marketing.Email;
@using Sitecore.Data.Fields
@using LearnEXM.Feature.Marketing.Email.Extensions
@model LearnEXM.Feature.Marketing.Email.Models.ImageOverTextSmall

@if (Model?.DataSource != null)
{
  <td align="center" style="text-align: center; width: 33.3%; padding: 0 8px">
    <p style="margin: 0;">
      @if (Model.LinkData.ShowLink)
      {
        if (!Model.LinkData.LinkUrlIsValid)
        {
          @Html.EEWarning(ProjConstantsExperienceEditor.CTAInvalidURLWarning);
        }

        @Html.Sitecore().BeginField(Model.Link, Model.DataSource,
            new
               {
                   style = "background: " + ProjConstantsStyling.HexColors.VividCyan + "; text-transform: uppercase; text-decoration: none; padding: 10px 38px; color:" + @ProjConstants.Styling.HexColors.White + "; display: inline-block; mso-padding-alt: 0;",
                   text = " ",
               })
        <!--[if mso]>
        <i style="letter-spacing: 38px; mso-font-width:-100%; mso-text-raise:18pt">&nbsp;</i><![endif]-->
        <span style="mso-text-raise: 12px; font-size: 12px; font-weight: bold; color: @ProjConstants.Styling.HexColors.White">@Model.LinkData.LinkText</span>
        <!--[if mso]><i style="letter-spacing: 38px; mso-font-width:-100%">&nbsp;</i><![endif]-->

        @Html.Sitecore().EndField()

      }
    </p>
  </td>
}