@using Sitecore.Foundation.SitecoreExtensions.Extensions;
@using LearnEXM.Feature.Marketing.Email
@using LearnEXM.Feature.Marketing.Email.Extensions
@model LearnEXM.Feature.Marketing.Email.Models.ImageBesideTextViewModel

@if (Model?.DataSource != null)
{
  <td style="text-align: left; display: inline-block; margin-@Model.ImageAlignAttrValue: 30px;">
    <p style="color:@ProjConstants.Styling.HexColors.OuterSpace; font-size: 12px; line-height: 20px; font-weight: bold; margin-top: 0; margin-bottom: 0;">
      @Html.Sitecore().Field(ProjConstantsFields.ImageBesideText.Title, @Model.DataSource)
    </p>
    <p style="color: @ProjConstants.Styling.HexColors.OuterSpace; font-size: 12px; line-height: 20px; margin-top: 0; margin-bottom: 30px;">
      @Html.Sitecore().Field(ProjConstantsFields.ImageBesideText.Text, @Model.DataSource)
    </p>
    <p style="margin: 0;">

      @if (Model.LinkData != null && Model.LinkData.ShowLink)
      {
        if (!Model.LinkData.LinkUrlIsValid)
        {
          @Html.EEWarning(ProjConstantsExperienceEditor.CTAInvalidURLWarning);
        }

        @Html.Sitecore().BeginField(ProjConstantsFields.ImageBesideText.Link, Model.DataSource,
            new
                 {
                style = "background: " + @ProjConstants.Styling.HexColors.BrightBlue + "; text-transform: uppercase; text-decoration: none; padding: 10px 38px; color: " + @ProjConstants.Styling.HexColors.White + "; display: inline-block; mso-padding-alt: 0;",
                text = " ",
            })

        <!--[if mso]>
        <i style="letter-spacing: 38px; mso-font-width:-100%; mso-text-raise:18pt">&nbsp;</i>
         <![endif]-->
        <span style="mso-text-raise: 12px; font-size: 12px; font-weight: bold; color: @ProjConstants.Styling.HexColors.White">@Model.LinkData.LinkText</span>
        <!--[if mso]>
        <i style="letter-spacing: 38px; mso-font-width:-100%">&nbsp;</i>
        <![endif]-->

        @Html.Sitecore().EndField()
      }
    </p>
  </td>
}