@using LearnEXM.Feature.WhatWeKnow.SitecoreCinema
@using LearnEXM.Feature.WhatWeKnow.SitecoreCinema.Models
@using LearnEXM.Foundation.WhatWeKnowBullets.Models
@model  LearnEXM.Feature.WhatWeKnow.SitecoreCinema.Models.WhatWeKnowViewModel

@if (Model != null)
{

  <strong>Interactions:</strong>
  if (Model.KnownDataXConnect.KnownInteractions != null && Model.KnownDataXConnect.KnownInteractions.Any())
  {
    <ul>
      @foreach (InteractionProxy interactionProxy in Model.KnownDataXConnect.KnownInteractions)
      {
        <li>

          <ul>
            <li>@interactionProxy.ChannelName  (@interactionProxy.ChannelId.ToString())</li>

            <li>Events</li>
            @if (interactionProxy.EventsB != null && interactionProxy.EventsB.Any())
            {

              <ul>
                @foreach (var oneEvent in interactionProxy.EventsB)
                {
                  @oneEvent.TypeName
                  <ul>
                    <li>@oneEvent.ItemDisplayName (@oneEvent.ItemId.ToString())</li>
                    <li>@oneEvent.TimeStamp</li>
                    <li>duration: @oneEvent.Duration</li>
                  </ul>
                }
              </ul>
            }

            <pre>@interactionProxy.SerializedAsJson</pre>
          </ul>
        </li>

      }
    </ul>

  }
  else
  {
    <span>{No interactions}</span>
  }

}